<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Customer List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  
</head>
<body>
  <h1>Customer Detail</h1>
  <div class="container">
    <div class="customer-details">
        <h3>{{ customer.first_name}} {{customer.last_name}}</h3>
        <p><strong> <Address>:</strong>{{customer.address}}</p>
        <p><strong> Email:</strong>{{customer.email}}</p>
        <p><strong> Joined on:</strong>{{customer.created_at}}</p>

    </div>
    <a href="{% url 'ecommerce_plp:customer_detail' customer.pk%}" class="back-link">
      Back to product details
    </a>
  </div>
</body>
</html>